@import "mixins";

$font-f: 'Lato',sans-serif;
$font-size: 1.8em;
$text-font: 'Roboto', sans-serif;
$basic-color: rgba(179,179,179,0);
$text-color: rgb(250,250,250);
$background-color: rgb(20,20,20);
$box-shadow-hex: 0 0 50px black(.8), 20px -20px 50px black(.4);
$box-shadow-inset: inset 50px -50px 50px black(.3) ;   
$black-shadow: 0px 3px 0.8px black(.7), 3px 0 0.8px black(.7);
$border: 1px solid black(.7); 
$border-hex:  solid 5px rgba(51,51,51,.85); 
$border-hex2:  solid 7.0711px rgba(51,51,51,.85); 
$border-radius: 1%;
$breakpointSmallScreen: 767px;
$breakpointMediumScreen: 768px;
$breakpointLargeScreen: 1200px;


body{
	background: $background-color;
	background-image: url('../img/tlo2.png');
	background-size:cover;
	color:$text-color;
	@include letterpressblack(1);  ///dodanie mixiny
}


@include selection(black, red, h1);


.container{
	font-family: $text-font;
	
	h1{
		position:relative;
		text-align:center;
		text-transform:uppercase;
		
	
		span {
		  
		  padding: 0 15px;
		  position: relative;
		  z-index: 1;
		}	
	}
		h1:before,
		h1:after {
		  background: black(.1);
		  border: $border;
		  -ms-box-shadow: $black-shadow;
		  -webkit-box-shadow: $black-shadow;
		  -moz-box-shadow: $black-shadow;
		  box-shadow: $black-shadow, $box-shadow-inset;
		  content: "";
		  dispaly: block;		  
		  position: absolute;
		  top: 50%;
		  width: 20%;
		  height: 80px;
		}
		h1:before {
		  right: 90%;
		  z-index: -10;
		}
		h1:after {
		  left: 90%;
		}
			
	
	h2{
		padding: 0 30px;
		font-weight: 700;
	}
}
//------------------------------------------------------------//
	
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
//---------------------------------

#push>a {
	@include button(black);
	text-decoration: none;
    font-weight: 700;
    font-size: 3em;
   	text-align: center;
	letter-spacing: -2px;	
}
//---------------------------------	
#top{
	background: $basic-color;
	margin: 150px 0 50px  0;
	text-align:center;
	font-family: $text-font;
	font-size: $font-size;
	-ms-box-shadow: $black-shadow;
	-webkit-box-shadow: $black-shadow;
	-moz-box-shadow: $black-shadow;
	box-shadow: $black-shadow;
	border-radius: $border-radius;
	border-bottom:$border;
	border-right:$border;
	padding: 5px;
}

footer {
    margin: 50px 0 0 0;
	position: relative;
	z-index: 10;
	color: $text-color;
	
	@media (max-width: $breakpointSmallScreen) {
		margin: -40px 0 0 0;
	}
	
	
	a{
		color: $text-color;
	}
	a:hover{
		text-decoration: none;
	}
}