/* line 12, ../sass/style.scss */
html {
  height: 100%;
}

/* line 15, ../sass/style.scss */
body {
  font-family: "Lato", sans-serif;
  font-size: 1.8em;
  height: 100%;
}

/* line 20, ../sass/style.scss */
.container {
  margin-bottom: 0;
}

/*-------------------------------------------------- */
/* line 25, ../sass/style.scss */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
@media (min-width: 768px) {
  /* line 25, ../sass/style.scss */
  .navbar-wrapper {
    margin-top: 20px;
  }
}
/* line 35, ../sass/style.scss */
.navbar-wrapper #navbar a {
  color: #fafafa;
}
/* line 38, ../sass/style.scss */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  /* line 38, ../sass/style.scss */
  .navbar-wrapper > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
/* line 47, ../sass/style.scss */
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  background: rgba(0, 0, 0, 0.1);
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  border-color: #fafafa;
}
@media (max-width: 767px) {
  /* line 47, ../sass/style.scss */
  .navbar-wrapper .navbar {
    background-color: rgba(0, 0, 0, 0.9);
  }
}
@media (min-width: 768px) {
  /* line 47, ../sass/style.scss */
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    border-radius: 4px;
  }
}
/* line 62, ../sass/style.scss */
.navbar-wrapper .navbar a {
  color: #fafafa;
}
/* line 65, ../sass/style.scss */
.navbar-wrapper .navbar .container {
  width: auto;
}

/* line 72, ../sass/style.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 78, ../sass/style.scss */
.dropdown-menu .dropdown-header {
  text-shadow: none;
  color: #fafafa;
}

/* line 84, ../sass/style.scss */
.navba .nav li > a {
  border: 1px solid red;
}

/*-------------------------------------------------- */
/* line 91, ../sass/style.scss */
.carousel,
.item,
.active {
  height: 100%;
}

/* line 97, ../sass/style.scss */
.carousel-inner {
  height: 100%;
}

/* line 101, ../sass/style.scss */
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* line 111, ../sass/style.scss */
.carousel-caption {
  z-index: 10;
  position: absolute;
  right: 15%;
  bottom: 350px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fafafa;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
/* line 124, ../sass/style.scss */
.carousel-caption .btn {
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  /* line 111, ../sass/style.scss */
  .carousel-caption {
    bottom: 150px;
    font-size: 90%;
  }
  /* line 136, ../sass/style.scss */
  .carousel-caption .btn {
    font-weight: 300;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* line 111, ../sass/style.scss */
  .carousel-caption {
    bottom: 200px;
    font-size: 90%;
  }
  /* line 144, ../sass/style.scss */
  .carousel-caption .btn {
    font-weight: 300;
  }
}

@media (max-width: 767px) {
  /* line 151, ../sass/style.scss */
  .carousel-indicators li {
    margin: 90px 0;
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 767px) {
  /* line 158, ../sass/style.scss */
  .carousel-indicators .active {
    margin: 90px 0;
    width: 18px;
    height: 18px;
  }
}

/* line 168, ../sass/style.scss */
footer {
  margin: -50px 0 0 0;
  position: relative;
  z-index: 10;
  color: #fafafa;
}
@media (max-width: 767px) {
  /* line 168, ../sass/style.scss */
  footer {
    margin: -40px 0 0 0;
  }
}
/* line 179, ../sass/style.scss */
footer a {
  color: #fafafa;
}
/* line 182, ../sass/style.scss */
footer a:hover {
  text-decoration: none;
}
